.addButton {
    background-color: #7c73e6;
    height: 50px;
    padding: 13px 23px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid transparent;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: Avenir Next W01,Helvetica,Arial,sans-serif;
    outline: none;
    text-align: center;
    text-decoration: none;
    width: 40%;
}
